html, body {
  width: 100%;
  font-size: 12px;
}

.main {
  margin: 0 auto;
  width: 80%;
}

.hero {
  height: 40rem;
  position: relative;
  width: 100%;
}

.hero__split {
  position: absolute;
}

.hero__split--left {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  overflow-x: hidden;
}

.hero__split--right {
  height: 100%;
  width: 100%;
  border: 1px solid blue;
}

.hero__title {
  position: absolute;
  width: 100%;
  text-align: center;
}


