* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.main {
  margin: 0 auto;
  width: 100%;
}

#split {
  position: relative;
  width: 100%;
}

.split__left {
  width: 100%;
/*   border: 1px solid black; */
}

.split__right {
  border-right: 2px solid black;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  background-color: white;
}

.split__fixed {
  width: 100%;
}

.split__knob {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background-color: tomato;
  position: absolute;
  cursor: pointer;
}

.split__title {
  top: 70%;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 48px;
}

.matty-headshot {
  background-image: url('../images/matty_headshot.JPG');
}

.shimmy-headshot {
  background-image: url('../images/shimmy_headshot.JPG');
}

.headshot {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 35px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* BIO */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.bio {
  flex-direction: row;
}

.description {
  width: 40%;
  height: 50%;
  /* border: 1px solid black; */
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 0 2rem;
}

.carousel {
  /* border: 1px solid black; */
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 3;
  height: 50%;
  margin: 0 4rem;
  position: relative;
  width: 40%;
}

.carousel-images {
  width: 75%;
  height: 75%;
  position: relative;
  overflow: hidden;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 1.5rem);
  width: 100%;
}

.carousel-btn {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.carousel-tracker {
  display: flex;
  padding-top: 1rem;
}

.tracker-dot {
  height: 1rem;
  width: 1rem;
  border: 1px solid blue;
  border-radius: 0.5rem;
  background-color: transparent;
  margin: 0 0.25rem;
}

.selected-tracker-dot {
  background-color: blue;
}

.bio-image {
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
}

.bio-image-1 {
  left: 0;
}

.bio-image-2 {
  left: 100%;
}

.bio-image-3 {
  left: 200%;
}

h3 {
  display: block;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  border: 2px solid black;
  padding: 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SKILLS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #EDEEEF;
}

.skill-list {
  list-style: none;
  width: 25%;
  height: 60%;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-list-matty {
  text-align: right;
  padding-left: 0;
  padding-right: 40px;
}

.rating {
  list-style: none;
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.plane {
  width: 10%;
}

.decisiveness, .strength, .fearlessness, .feedback, .savviness {
 /*  border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.decisiveness-shimmy:nth-last-child(-n+3) {
  opacity: 0.5;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* RULES */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.rule-list {
  list-style: none;
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 24px;
  font-family: 'Covered By Your Grace', cursive;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WHY PARTNER? */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.partner-assessment {
  flex-direction: column;
  justify-content: space-around;
  background-color: #EDEEEF;
}

.row {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.assessment {
  width: 30%;
  height: 90%;
  text-align: center;
/*   border:  1px solid black; */
}

.icon-wrapper {
  display: flex;
  align-items: center;
  height: 70%;
}

.partner-icon {
  display: block;
  height: 100%;
  width: 30%;
  margin: auto;
}

.assessment {
  position: relative;
}

.assessment p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  margin: 0;
  border-top: 1px solid black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* AUDITION VIDEO */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.video {
  background-color: #353439;
  color: #FFFFFF;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* FOOTER */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
  height: 50vh;
  background-color: #26262A;
  color: #FFFFFF;
}

footer h1 {
  margin: 0;
}














