* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-size: 12px;
}

.main {
  margin: 0 auto;
  width: 80%;
}

#split {
  height: 40rem;
  position: relative;
  width: 100%;
}

.split__left {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.split__right {
  border: 1px solid red;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.split__fixed {
  width: 100%;
}

.split__knob {
  width: 5rem;
  height: 5rem;
  background-color: tomato;
  position: absolute;
  cursor: pointer;
}

.split__title {
  position: absolute;
  width: 100%;
  text-align: center;
}


